name: Playwright Tests
on:
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm install -g yarn && yarn
    - name: Install Playwright Browsers
      run: yarn playwright install --with-deps
    - name: Build Storybook
      run: yarn run build-storybook
    - name: Run Playwright tests
      run: |
          # Start Storybook in background
          yarn http-server storybook-static -p 6006 &

          # Wait for server to be ready
          yarn wait-on http://localhost:6006

          # Run Playwright tests
          yarn playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
