name: Storybook Tests

on:
  pull_request:
    branches: [ main, master ]

jobs:
  vitest:
    name: 'Run vitest'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: yarn
      - run: yarn playwright install
      - run: yarn test-storybook
